# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/
build/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# System Files
.DS_Store
Thumbs.db

# Docker & Local Data
data/
# keep the .gitkeep if strictly needed, but generally ignore data folder content
!data/.gitkeep

# IDEs
.vscode/
.idea/

# Logs
nginx/logs/

# PocketBase
pocketbase.exe
pb_data/
pb_migrations/
*.db
*.db-wal
*.db-shm


